<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.favicon_logo_180 | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon_logo_32 | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon_logo_16 | absURL }}">
<link rel="manifest" href="{{ .Site.Params.webmanifest | absURL }}" crossorigin="use-credentials">
<link rel="mask-icon" href="{{ .Site.Params.safari_logo | absURL }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">