{{- $.Scratch.Set "image" "" -}}
{{- if .Params.image  -}}
{{- $.Scratch.Set "image" (.Params.image | absURL) -}}
{{- else -}}
{{- $.Scratch.Set "image" (.Site.Params.logo | absURL) -}}
{{- end -}}

<meta name="description" content="{{ $.Scratch.Get "description" }}" />
<meta property="og:locale" content="{{ site.Params.LanguageLocale }}" />
{{- if .IsHome }}
<meta property="og:type" content="website" />
{{- else }}
<meta property="og:type" content="article" />
{{- end }}
<meta property="og:title" content="{{ $.Scratch.Get "title" }}" />
<meta property="og:description" content="{{ $.Scratch.Get "description" }}" />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:site_name" content="{{.Site.Params.name}}" />
<meta property="article:published_time" content="{{.PublishDate}}" />
<meta property="article:modified_time" content="{{if .Lastmod}}{{.Lastmod}}{{else}}{{.Params.modified_time}}{{end}}" />
<meta property="og:image" content="{{$.Scratch.Get "image"}}" />
{{- with resources.GetMatch ($.Scratch.Get "image" | relURL) -}}
{{- $image_obj := . }}
<meta property="og:image:width" content="{{$image_obj.Width}}" />
<meta property="og:image:height" content="{{$image_obj.Height}}" />
{{end}}
<meta property="og:image:secure_url" content="{{$.Scratch.Get "image" }}">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $.Scratch.Get "title"  }}">
<meta name="twitter:description" content="{{ $.Scratch.Get "description"}}">
<meta name="twitter:image" content="{{$.Scratch.Get "image" }}">
<meta name="twitter:label1" content= "{{ site.Params.meta_twitter_label }}" />
<meta name="twitter:data1" content= "{{ site.Params.meta_twitter_data }}" />